    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color:rgb(25, 2, 40);
            color: #333;
        }

        .container {
            display: flex;
            color: #fff;
            justify-content: space-between;
            align-items: flex-start; /* Align items at the top */
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            background-color: #511450;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .content {
            width: 65%;
            color: #fff;
            font-family: 'Courier New', Courier, monospace;
        }

        .content h2 {
            color: #fff;
            padding-bottom: 10px;
            margin-bottom: 20px;
            font-family: 'Courier New', Courier, monospace;
        }

        .content p {
            line-height: 1.6;
            color: #fff;
            text-align: justify;
            font-family: 'Courier New', Courier, monospace;
        }

        .photo {
            width: 35%;
            text-align: center;
            position: relative;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 50%;
            margin-top: 20px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        .photo:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 100%;
            background: radial-gradient(circle at center, #333 0%, #000 100%);
            opacity: 0.5;
            border-radius: 50%;
            z-index: -1;
        }

        .social-icons {
            margin-top: 20px;
            text-align: center;
        }

        .social-icons a {
            display: inline-block;
            margin: 0 10px;
            color: #333;
            font-size: 20px;
            transition: color 0.3s ease-in-out;
        }

        .social-icons a:hover {
            color: #007bff;
        }


    </style>
