    <style>
        body {
            font-family:'Courier New', Courier, monospace;
            margin: 0;
            padding: 0;
            background-color: rgb(25, 2, 40);
            color: #ffffff;
            
            
        }

        #navbar {
            position: fixed;
            font-style:oblique;
            left: 0;
            top: 0;
            height: 200%;
            width: 0;
            overflow-x: hidden;
            transition: 0.5s;
            background-color: rgb(25, 2, 40);
            color: #fff;
            padding-top: 10px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            
        }

        #navbar a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #fff;
            text-align: center;
            border-bottom: 2px solid #555;
            transition: background-color 0.3s;
            font-family:sans-serif;
        }

        #navbar a:hover {
            background-color: #9565c0;
            
        }

        #navbar-toggle {
            position: fixed;
            left: 20px;
            top: 20px;
            cursor: pointer;
            z-index: 2;
            font-size: 30px;
            line-height: normal;
            font-family:sans-serif;
        }

        header {
            background-color: rgb(25, 2, 40);
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        section {
            max-width: 850px;
            max-height: 20px;
            margin: 15px auto;
            padding: 20px;
            background-color: rgb(25, 2, 40);
            
            border-radius: 10px;
        }

        h2 {
            color: #000000;
            border-bottom: 2px solid #000000;
            padding-bottom: 50px;
            margin-bottom: 90px;
            font-size: 1.5em;
        }

        .project {
            margin-bottom: 10px;
            padding: 20px;
            box-shadow: 0 0 20px rgba(178, 162, 211, 0.2);
            border: px solid rgb(25, 2, 40);
            background-color: rgb(25, 2, 40);
            border-radius: 10px;
            box-shadow: 0 0 10px rgb(95, 25, 142);
            transition: transform 0.3s ease-in-out;
            width: calc(50% - 20px);
            box-sizing: border-box;
            float: left;
            margin-right: 20px;
        }

        .project:nth-child(odd) {
            clear: both;
            margin-right: 20;
        }

        .project:hover {
            transform: scale(1.05);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .project h3 {
            color: #f7f5f5;
            font-size: 1.2em;
            margin-bottom: 10px;
            text-decoration: none;
        }

        .project h3 a:link,
        .project h3 a:visited {
            font-weight: bold;
            color: #fff;
            text-decoration: none;
        }

        .project p {
            color: #f5f2f2;
            font-size: 1em;
            line-height: 1.5;
            margin-bottom: 10px;
            
        }

        .project img {
            max-width: 100%;
            height: auto;
            border-radius: 6px;
            margin-bottom: 10px;
        }

        .technologies {
            font-size: 0.8em;
            color: #ede9e9;
        }
    </style>
