    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: rgb(25, 2, 40);
            color: #fff;
        }

        #navbar {
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 0;
            overflow-x: hidden;
            transition: 0.5s;
            background-color: rgb(25, 2, 40);
            color: #fff;
            padding-top: 20px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        }

        #navbar a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #fff;
            text-align: center;
            border-bottom: 2px solid #555;
            transition: background-color 0.3s;
            font-family:sans-serif;
        }

        #navbar a:hover {
            background-color: #9565c0;
        }

        #nav-toggle {
            position: fixed;
            left: 20px;
            top: 20px;
            cursor: pointer;
            z-index: 2;
            font-size: 25px;
            font-family:sans-serif;
        }

        .container {
            display: flex;
            color: #fff;
            justify-content: space-between;
            align-items: flex-start; /* Align items at the top */
            max-width: 1230px;
            
            margin: 55px auto;
            padding: 20px;
            background-color: rgb(25, 2, 40);
            border-radius: 10px;
            box-shadow: 0 0 10px rgb(95, 25, 142);
            margin-left: 20; /* Adjusted margin to accommodate the navbar width */
        }

        .content {
            width: 60%; /* Adjusted content width */
            color: #fff;
            font-family: 'Courier New', Courier, monospace;
        }

        .content h2 {
            color: #fff;
            padding-bottom: 10px;
            margin-bottom: 20px;
            font-family: 'Courier New', Courier, monospace;
        }

        .content p {
            line-height: 1.6;
            color: #fff;
            text-align: justify;
            font-family:'Courier New', Courier, monospace;
        }

        .photo {
            width: 30%; /* Adjusted photo width */
            text-align: right;
            position: relative;
            right: 50px;
            
        }

        img {
            max-width: 100%;
            height: auto;
            padding: 2px;
            box-shadow: 0 0 10px rgb(95, 25, 142);
            border-radius: 40%;
            margin-top: 200px;
            
        }

        .photo:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            height: 100%;
            background: radial-gradient(circle at center, #807d7d 0%, #000 100%);
            opacity: 0.5;
            border-radius: 50%;
            z-index: -1;
        }

        .social-icons {
            margin-top: 20px;
            text-align: center;
        }

        .social-icons a {
            display: inline-block;
            margin: 0 10px;
            color: #333;
            font-size: 20px;
            transition: color 0.3s ease-in-out;
        }

        .social-icons a:hover {
            color: #007bff;
        }
    </style>
